@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html
{
  font-family: 'Montserrat', sans-serif;
  background-color: #2c2c2d;  
}

#header
{
    width: 100%;
    height: 100vh;
}
.container
{
    padding: 10px 10%;
    height: 8%;
    /* background-color: aqua; */
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    float: right;
}

nav ul li
{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a
{
    text-decoration: none;
    font-size: 18px;
    position: relative;
    color: white;
}

nav ul li a:hover
{
    color: #ffc425;
    text-decoration: underline;
}


.header-text h2{
    margin-top: 20%;
    font-size: 60px;
    font-weight: 200;
    color: white;
}

h1 {

	color: white;
	font-size: 3rem;
	font-weight: 100;
	line-height: 1.5;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	/* margin-top: 15rem; */
	
  }

h1 span {
	font-size: 35px;

  }
  
  .message
{
	color: #ffc425;
	display: inline-block;
	font-weight: 200;
	position: absolute;
	/* top: 0.2rem; */
	margin-left: 1rem;
    /* margin-top: 15rem; */
	/* justify-items: center; */
	/* text-align: center; */
	animation: openclose 5s ease-in-out infinite;
  }
  

  
  @keyframes openclose {
	0% {
	  top: 0.2rem;
	  width: 0;
	}
	5% {
	  width: 0;
	}
	15% {
	  width: 230px;
	}
	30% {
	  top: 0.2rem;
	  width: 230px;
	}
	33% {
	  top: 0.2rem;
	  width: 0;
	}
	35% {
	  top: 0.2rem;
	  width: 0;
	}
	38% {
	  top: -4.5rem;
	  
	}
	48% {
	  top: -4.5rem;
	  width: 190px;
	}
	62% {
	  top: -4.5rem;
	  width: 190px;
	}
	66% {
	  top: -4.5rem;
	  width: 0;
	  text-indent: 0;
	}
	71% {
	  top: -9rem;
	  width: 0;
	  text-indent: 5px;
	}
	86% {
	  top: -9rem;
	  width: 285px;
	}
	95% {
	  top: -9rem;
	  width: 285px;
	}
	98% {
	  top: -9rem;
	  width: 0;
	  text-indent: 5px;
	}
	100% {
	  top: 0;
	  width: 0;
	  text-indent: 0;
	}
  }



  .icon ul {
	display: inline-grid;
	grid-auto-flow: row;
	grid-gap: 24px;
  }
  
  @media (min-width: 500px) {
	.icon ul {
	  grid-auto-flow: column;
	}
  }
  
  .icon a {
  color: white;
	text-decoration: none;
	/* box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4); */
  }
  
  .icon a:hover {
    text-decoration: underline;
	/* box-shadow: inset 0 -1.2em 0 rgba(255, 255, 255, 0.584); */

  }
  
  .icon li:last-child {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
  }
  
  .icon li:hover ~ li p {
	animation: wave-animation 0.3s infinite;
  }
  
  .icon li
  {
	list-style: none;
  }

  
  .icon {
	display: flex;
	line-height: 1.3'
  }
  
  @keyframes wave-animation {
	0%,
	100% {
	  transform: rotate(0deg);
	}
	25% {
	  transform: rotate(20deg);
	}
	75% {
	  transform: rotate(-15deg);
	}
  }
  

/*about*/
#about .para
{
	font-size: 1rem;
    margin-top: 2rem;
}

nav #menu
{
    display: none;
}
@media only screen and (max-width: 300px)
{

  .header-text h2
  {
    font-size: 30px;
  }
  .header-text span
  {
    font-size: 25px;
  }
.message
    {
         font-size: 1.5rem;
    }
      .message .word1
      {
        margin-top: 1.5rem;
      }
      .message .word2
      {
        margin-top:2.3rem ;
        /* margin-bottom: 1rem; */
      }
      .message .word3
      {
        margin-top:2.3rem ;
        margin-bottom: 1rem;
      }
      .container .sub-title
      {
        font-size: 12px;
      }
      .container p
      {
        font-size: 8px;
      }




      
      nav #menu
{
    display: block;
    font-size: 25px;
}
nav ul
{
    background: #ffc425;
    position: fixed;
    top:0;
    right: -300px;
    width: 300px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
}

nav ul li a:hover
{
  color: #000;
}

nav ul li
{
    display: block;
    margin: 25px;
    /* color: #f29f05; */
}
nav ul #menu
{
     position: absolute;
     top: 25px;
     left: 25px;
     cursor: pointer;
}

.sub-title
{
    font-size: 40px;
}

.about-col-1,.about-col-2
{
    flex-basis: 100%;
}

.about-col-1
{
    margin-bottom: 30px;
}

.about-col-2
{
    font-size: 14px;
}

.tab-links
{
    font-size: 16px;
    margin-right: 20px;
}
.contact-left,.contact-right
	{
		flex-basis: 100%;
	}

  .sub-title i
  {
    color: #fff;
  }
}

@media only screen and (max-width: 600px) and (min-width:300px)
{
 
  .container .sub-title
  {
    font-size: 25px;
  }
  .container p
  {
    font-size: 12px;
  }
    .header-text

    {
        margin-top: 100%;
    }

    .header-text h2
    {
        font-size: 30px;
    }

    .message
    {
         font-size: 1.5rem;
    }

    .header-text h1 {
        line-height: 1.8;
      }

      .message .word1
      {
        padding-top:1.5rem;
        /* margin-bottom: 1rem; */
      }
      .message .word2
      {
        margin-top:2rem ;
        /* margin-bottom: 1rem; */
      }
      .message .word3
      {
        margin-top:1.8rem ;
      }

      nav #menu
{
    display: block;
    font-size: 25px;
}
nav ul
{
    background: #ffc425;
    position: fixed;
    top:0;
    right: -300px;
    width: 300px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
}

nav ul li a:hover
{
  color: #000;
}

nav ul li
{
    display: block;
    margin: 25px;
    /* color: #f29f05; */
}
nav ul #menu
{
     position: absolute;
     top: 25px;
     left: 25px;
     cursor: pointer;
}

.sub-title
{
    font-size: 40px;
}

.about-col-1,.about-col-2
{
    flex-basis: 100%;
}

.about-col-1
{
    margin-bottom: 30px;
}

.about-col-2
{
    font-size: 14px;
}

.tab-links
{
    font-size: 16px;
    margin-right: 20px;
}
.contact-left,.contact-right
	{
		flex-basis: 100%;
	}
  .sub-title i
  {
    color: #fff;
  }

}

#about
{
    padding: 80px 0;
    color: white;
}

.row
{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1
{
    flex-basis: 35%;
}

.about-col-1 img
{
    width: 80%;
    border-radius: 15px;
}

.about-col-2
{
    flex-basis: 60%;
}

.sub-title
{
    font-size: 50px;
    font-weight: 600;
    color: white;
}



.tab-titles
{
    display: flex;
    margin:20px 0 30px;
}

.tab-links
{
    margin-left: 30px;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

.tab-links::after
{
    content: '';
    width: 0;
    height:3px ;
    background-color: #f29f05;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;

}

.tab-links.active-link::after
{
width: 50%;
}

.tab-contents ul li
{
list-style: none;
margin: 10px 0;
}

.tab-contents span
{
    color: #ffc425;
    font-size: 14px;
}

.tab-contents
{
    display:none;
}

.tab-contents.active-tab
{
    display: block;
}



/*port*/

#portfolio
{
    padding: 50px 0;
}

.work-list
{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work
{
    border-radius:10px ;
    position: relative;
    overflow: hidden;
}

.work img
{
    width: 100%;
    height: 150px;
    border-radius: 10px;
    display: block;
    transition:transform 0.5s;
}

.layer
{
    width: 100%;
    height: 0;
    background:linear-gradient(rgba(0,0,0,0.6),white);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;

}

.layer h3
{
    margin-top:5%;
    color: #ffc425;
    font-weight:900;
    margin-bottom: 20px;

}

.layer a
{
    margin-top: 20px;
    color: #ffc425;
    text-decoration: none;
    font-size: 10px;
    line-height: 30px;
    background: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
}
.layer p
{
  color: white;
}

.work:hover img
{
    transform: scale(1.1);
}

.work:hover .layer
{
    height: 100%;
}

/* .btn1
{
    display: block;
    margin: 50px auto;
    width:fit-content;
    border: 1px solid #ffc425;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
}

.btn1:hover{
    background-color:#ffc425;
    color: white;
} */

/* .btn1:active
{
	color: white;
} */


/*contact*/
.contact-left
{
	flex-basis: 35%;
}

.contact-right
{
	flex-basis: 60%;
}

.contact-left p
{
	margin-top: 30px;
  color: white;
}


/* .btn1.btn2
{
	display: inline-block;
	background-color: white;
  color: white;
} */

iframe
{
  width: 100%;
  height: 50%;
}

/* .btn1.btn2:hover
{
  color: white;
} */

.contact-right form
{
width: 100%;
margin-top: 100px;
}

form input,form textarea
{
	width: 100%;
	outline: none;
  border: none;
	background-color: white;
	padding:15px;
	margin: 15px 0;
	color: #000;
  font-size: 18px;
	border-radius: 6px;
}

/* form .btn2
{
	padding: 14px 60px;
	font-size: 18px;
	margin-top: 20px;
	cursor: pointer;
  color: white;
}

form .btn1.btn2
{
   background-color: #2c2c2d;
   color: white;
}

form .btn1.btn2:hover
{
   background-color: #ffc425;
   color: white;
} */


/* .about-col-1 img:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
} */


/*article*/

#article
{
    padding: 50px 0;
}

.article-list
{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.art
{
    border-radius:c8px;
    position: relative;
    overflow: hidden;
}

.art img
{
    width: 100%;
    height: 150px;
    /* border-radius: 10px; */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: block;
    transition:transform 0.5s;
}


.back
{
  width: 100%;
  height: 270px;
  background-color: #fff;
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
  border-radius: 15px;
}

.infos h3
{
  margin-top: 5px;
  font-size: 14px;
  font-weight: 900;
  /* text-align: center; */
  margin-left: 5px;
}

.infos p
{
  font-size: 12px;
  margin-top: 10px;
  margin-left: 10px;
}


.date
{
  float: left;
  font-size: 12px;
  color: #929292;
  margin:10px 0 0 10px; 
 
}

.share
{
  float: right;
  font-size: 14px;
  margin: 10px 20px 0 0;
}

.share a
{
  color: #929292;
}
.share a:visited
{
  color:  #929292;
}


/* CSS */
.button-52 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: block;
    margin: 50px auto;
    width:fit-content;
    border: 1.5px solid #fff;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #000;
    transition: background 0.5s;

}

.button-52:after {
  content: "";
  background-color: #ffe54c;
  border-radius: 6px;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}



.btn
{
  margin-top: 50px;
}

/* CSS 1 */
.button-57 {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffc425;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57 span
{
  margin-top: 10px;
}
.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}


/*footer*/

.footer #b{
	width:50px;
	height:50px;
	border: #727172 5px solid;
	border-radius:35px;
	margin:0 auto;
	position:relative;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    font-size: 25px;
    text-align: center;
}
.footer #b:hover{
	width:35px;
	height:35px;
	border: #3A3A3A 12px solid;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	position:relative;
}
.footer {
	bottom:0;
	left:0;
	position:fixed;
  width: 100%;
  height: 2em;
  overflow:hidden;
  margin:0 auto;
	-webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
	z-index:999;
}
.footer:hover {
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	height: 8em;
}
.footer #container{
	margin-top:5px;
	width:100%;
  height:100%;
  position:relative;
  top:0;
  left:0;
	background: #3A3A3A;
}
.footer #cont{
  position:relative;
  top:-45px;
  right:190px;
	width:150px;
	height:auto;
	margin:0 auto;
}
.footer_center{
	width:500px;
	float:left;
  text-align:center;
}



.footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;
  margin-left: 20px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
 }
 .footer-icons
 {
  margin-top: 75px;
 } 

 #b i
 {
  color: #fff;
  margin-top: 8px;
 }
